VITE_SUPABASE_URL=https://gkcjhjxwsqyhdaizsmdl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdrY2poanh3c3F5aGRhaXpzbWRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUxODc4NzksImV4cCI6MjEwMDc2Mzg3OX0.C8ZpDTITtDEhBnKTmattgVOEMHnhyIKjRVpJxna9C-k
VITE_API_URL=http://localhost:4000
